In [1]:
# Answer 1):

list1 = [11, 5, 17, 18, 23]
total = sum(list1) 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [2]:
# Answer 2):

list1 = [11, 5, 17, 18, 23]
mult=1
for i in list1:
    mult=mult*i
print("product of all elements = ", mult)

product of all elements =  387090

In [4]:
# Answer 3):

list1 = [11, 5, 17, 18, 23]
smallest = min(list1) 
print("Smallest of all elements in given list: ", smallest)

Smallest of all elements in given list:  5

In [5]:
# Answer 4):

list1 = [11, 5, 17, 18, 23]
largest = max(list1) 
print("largest of all elements in given list: ", largest)

largest of all elements in given list:  23

In [6]:
# Answer 5):

list1 = [10, 20, 4, 45, 99]
list1.sort()
print("Second largest element is:", list1[-2])

Second largest element is: 45

In [10]:
# Answer 6):

list1 = [10, 20, 4, 45, 99]
list1.sort()
n=int(input("enter n position: "))
print("N largest elements are:", list1[-n:])

enter n position: 3
N largest elements are: [20, 45, 99]

In [2]:
# Answer 7):

list1 = [11, 5, 17, 18, 23,6,898,75,45,90]
print("even numbers in the list are : ")  
for i in list1:
    if (i%2==0):
        print(i)

even numbers in the list are :
18
6
898
90

In [3]:
# Answer 8):

list1 = [11, 5, 17, 18, 23,6,898,75,45,90]
print("odd numbers in the list are : ")  
for i in list1:
    if (i%2!=0):
        print(i)

odd numbers in the list are :
11
5
17
23
75
45

In [7]:
# Answer 9):
list1 = [11,5,[],17,18,23,[],6,898,[],75,45,90]
print("list without empty list is given below : ")
newlist=[]
for i in list1:
    if (i!=[]):
        newlist.append(i)
print(newlist)

list without empty list is given below :
[11, 5, 17, 18, 23, 6, 898, 75, 45, 90]

In [8]:
# Answer 10):

def Cloning(li1):
    li_copy =[]
    li_copy = li1.copy()
    return li_copy

li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [9]:
# Answer 11):

list1=[1,2,2,3,3,3,4,5,5,5,2,3]
num=int(input("enter number to check for occurences:"))
print("{} has occurred {} times in the list.".format(num,list1.count(num)))

enter number to check for occurences:3
3 has occurred 4 times in the list.